.i1{
    margin-top: 81px;
    margin-left:40px; 
}
.p1 {

margin-top: 81px;
font-family: 'Montserrat', sans-serif;
font-size: 36px;
font-style: normal;
font-weight: 500;
letter-spacing: -0.03em;
text-align: left;
  }
.b1{
    font-family: 'Abril Fatface';
    font-size: 100px;
  }
.b{
   
    font-size:24px;
}
.p3 {
    font-family: 'Montserrat', sans-serif;
   
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
   text-align: left;

    }
    .p4{
      
        margin-top: 115px;
        font-family: Abril Fatface;
        font-size: 64px;
        font-style: normal;
        font-weight: 400;
        text-align: left;
        text-decoration-thickness: 4px;
     
        }
    .p5{
        text-decoration: line-through;
       



    }
    .ps{
        font-family: 'Montserrat', sans-serif;
        font-size: 24px;
        font-style: normal;
font-weight: 400;


width: 703px;
    }
.bu1{
  
   
    border:3px solid #F6BD60;
    background-color: white;
    color: black;
    font-size: 20px;
    margin-top: 25px;
    padding: 10px 110px;

}
.bu2{
  
   
    border:3px solid #F6BD60;
    background-color:#F6BD60;
    color: black;
    font-size: 20px;
    margin-top: 20px;
    padding: 10px 80px;

}
.p6{
    margin-left: 118px; 
    font-size: 20px;
    font-weight:500;
}
.r1{
    margin-left: 1093px; 

    font-family: Abril Fatface;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: 77px;
    letter-spacing: 0em;
    text-align: left;
    

}
.b2{
    font-family: Abril Fatface;
    font-size:64px;
  
    

}

.li{

    font-family: 'Montserrat', sans-serif;
font-weight: 400;
}
.re1{
    font-weight: 500; 
   font-size:24px; 
}
.re2{
   margin-left: 166px;
   font-size:24px;
   font-weight: 500;  
}
.re3{
    font-size:24px;
   font-weight: 500; 
}
.m{
    font-size:18px;
    font-weight:300;

}

h1{
    font-family: Abril Fatface;
    font-size:80px;
    font-weight:500;
    margin-left:118px;
    line-height:86.34px;
}
.img1{
  
    height:495.1px;
    width: 244px;
}
.pa{
    font-size:24px;
    font-weight:600;
}
.pa3{
    margin-left:100px;
    font-size:24px;
    font-weight:600;
}
.s{
    font-size:24px;
    font-weight:400; 
    margin-left:100px;
}
.s1{
    font-size:24px;
    font-weight:400; 
}
.how{
    font-family: Londrina Outline;
font-size: 144px;
font-style: normal;
font-weight: 400;
}
.su{
    font-family: Inter;

    font-style: normal;
    font-weight: 300;
    vertical-align: super;
    font-size:40px;;
   
}   
.ho1{
    height: 170px;
width: 53px;
margin-left: 266px;
} 
.i1{
    font-family: Montserrat;
font-size: 18px;
font-style: normal;
font-weight: 500;

}

.price{
margin-left: 405.52001953125px;
font-size: 24px;
font-style: normal;
font-weight: 300;
}
.image{
    height:170px;
   
}

/* slider button */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:red;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  .slider.round:before {
    border-radius: 50%;
  }

  /* faq */
  .fre{
      margin-left:129px;
  }
  .fas{
      margin-left:80px;
  }
  .faw{
      font-family:  Montserrat;
      color: black;
    
  }
  .faq{
      margin-left: 118px;
  }
  .h{
      font-weight: bold;
  }

  /* image waala */
 .loko{
     font-size: 21px;
 }

 .bl{
    border:3px solid #F6BD60;
    background-color:#F6BD60;
    color: black;
    font-size: 20px;
   
 }

 .loko1{
    font-size: 21px; 
 }
 .l{
     font-size: 68px;
 }